.x-inlineanything {
  position: absolute !important;
  z-index: 1;
  zoom: 1;
  overflow: visible !important;
}

.x-inlineanything-header-t,
.x-inlineanything-header-r,
.x-inlineanything-header-b,
.x-inlineanything-header-l,
.x-inlineanything-header-c {
  position: absolute;
  overflow: hidden;
}

.x-inlineanything-header {
  position: absolute;
  bottom: -23px;
  padding: 4px;
  height: 24px;
}
  
.x-strict .x-ie7m .x-inlineanything-header {
  width: 192px;
  height: 24px;
}

.x-inlineanything-header-t,
.x-inlineanything-header-r,
.x-inlineanything-header-l {
  background-color: #99bce8;
}

.x-inlineanything-header-t,
.x-inlineanything-header-b {
  height: 1px;
}

.x-inlineanything-header-t {
  left: 0px;
  right: 0px;
  top: 0px;
}

.x-inlineanything-header-b {
  left: 1px;
  right: 1px;
  bottom: 0px;
  background-color: #eaf1fb;
}

.x-inlineanything-header-r,
.x-inlineanything-header-l {
  width: 1px;
  top: 0px;
  bottom: 0px;
}

.x-inlineanything-header-r {
  right: 0px;
}

.x-inlineanything-header-l {
  left: 0px;
}

.x-inlineanything-header-c {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: #eaf1fb;
  opacity: 0.55;
}
